_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
.Rproj.user
.Rhistory
nhlr-data


*.dcf

*.dcf

_shiny_apps/EloRating/rsconnect/shinyapps.io/pbulsink/NHL_Elo_Ratings.dcf

_data/NHL.MinuteData.csv
