
//
// pbulsink extra styles
//

// table fixing

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    //border:2px solid #ff0000;
}

th{
    border:10px solid transparent;
    background-color: #4CAF50;
    color: white;
}

td{
    border:10px solid transparent;
    text-align: left;
    //padding:0 15px 0 15px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

//add large tables in a .lgtable environment for side-to-side scrolling

lgtable > table{
    overflow-x:auto;
}

