
//
// pbulsink extra styles
//

// table fixing

//fancy heads
th {
    background-color: #4CAF50;
    color: white;
}

//adding spacing
td {    
    display: table;
    float: left;
    padding:0 15px 0 15px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

//add large tables in a .lgtable environment for side-to-side scrolling

.lgtable > table{
    overflow-x:auto;
}